@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#ext_menu-52 .mbr-brand__name {
	font-size: 18px;
}
#ext_menu-52.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-52 .mbr-navbar__section {
  background: #2c2c2c;
}
#slider-0 H1 {
  color: #ffffff;
}
#msg-box5-31 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-31 .mbr-article P {
  color: #ffffff;
}
#content1-5 H1 {
  font-size: 25px;
}
#content1-30 H2 {
  font-size: 25px;
  text-align: left;
}
#content1-30 P {
  text-align: left;
}
#content1-8 P {
  text-align: left;
}
#content1-12 H2 {
  text-align: left;
}
#content1-24 P {
  text-align: left;
}
#msg-box3-58 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-58 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-58 .mbr-article P {
  color: #000000;
}
#header3-31 H3 {
  text-align: center;
}
#content1-41 P {
  text-align: left;
}
#content1-41 UL {
  text-align: left;
}
#header3-53 H3 {
  text-align: right;
}
#header3-53 SPAN {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-57 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-57 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-57 .mbr-article P {
  color: #000000;
}
